*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
openCVLibrary411/build/outputs/logs/manifest-merger-debug-report.txt
openCVLibrary411/build/intermediates/metadata_feature_manifest/debug/processDebugManifest/metadata-feature/output.json
openCVLibrary411/build/intermediates/merged_manifests/debugAndroidTest/output.json
openCVLibrary411/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
openCVLibrary411/build/intermediates/merged_manifests/debug/output.json
openCVLibrary411/build/intermediates/merged_manifests/debug/AndroidManifest.xml
openCVLibrary411/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
openCVLibrary411/build/intermediates/instant_app_manifest/debug/output.json
openCVLibrary411/build/intermediates/instant_app_manifest/debug/AndroidManifest.xml
openCVLibrary411/build/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
openCVLibrary411/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/output.json
openCVLibrary411/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
openCVLibrary411/build/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
openCVLibrary411/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
openCVLibrary411/build/generated/source/buildConfig/androidTest/debug/org/opencv/test/BuildConfig.java
openCVLibrary411/build/generated/aidl_source_output_dir/debug/compileDebugAidl/out/org/opencv/engine/OpenCVEngineInterface.java
openCVLibrary411/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
openCVLibrary411/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
openCVLibrary411/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
openCVLibrary411/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
openCVLibrary411/build/intermediates/incremental/packageDebugResources/merger.xml
openCVLibrary411/build/intermediates/library_manifest/debug/AndroidManifest.xml
openCVLibrary411/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
openCVLibrary411/build/intermediates/packaged_res/debug/values/values.xml
.idea/codeStyles/codeStyleConfig.xml
